@import '../../styles/variable';

.infoLogin {
  text-align: center;
  img {
    width: 20%;
    height: 20%;
  }

  h2 {
    margin-bottom: 10px;
    color: $primary-color;
  }
}

.loginForm {
  padding: 20px;
  max-width: 100%;

  form {
    margin-bottom: 20px;
    padding: 0px 50px;
    p {
      margin-top: 10px;
    }

    button {
      width: 100%;
    }
  }
}

.btnBack {
  text-align: right;
  margin-right: 10%;
}
