// @import '../../styles/global.scss';
.containerBackground {
  background-color: #f4f4f4; // Thay thế 'gray' bằng mã màu mà bạn muốn sử dụng
}
.table-bg-cart {
  background-color: #ffffff;
}
.text-total-color {
  color: var(--main-color);
}
.fs-xl-title {
  font-size: var(--fs-xl);
}
.fw-600 {
  font-weight: 600;
}
@media (max-width: 1210px) {
}
@media (max-width: 1024px) {
  .fs-xl-title {
    font-size: var(--fs-md);
  }
}
@media (max-width: 992px) {
  .fs-sm-title {
    font-size: var(--fs-sm);
  }
}
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .margin-button {
    margin-top: 10px;
  }
}
// .hideOnMobile {
//   @media (max-width: 768px) {
//     display: none;
//   }
// }
