// @import '../../styles/global.scss';
.containerBackground {
  background-color: #f4f4f4; // Thay thế 'gray' bằng mã màu mà bạn muốn sử dụng
}
.table-bg-cart {
  background-color: #ffffff;
}
.text-total-color {
  color: var(--main-color);
}
