.body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.fs-xl-title {
  font-size: var(--fs-xl);
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.product-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;

  button {
    margin: 10px;
  }
}

.product-Image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.product-Details {
  padding: 50px;
  text-align: center;
}

.product-Name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-Information {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-Price {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial';
  color: #333333;
  margin-bottom: 10px;
}

.quantity-Container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.quantity-Value {
  margin-top: 12px;
}