.infoRegistration {
  text-align: center;

  img {
    width: 20%;
    height: 20%;
  }

  h2 {
    margin-bottom: 10px;
  }
}

.registrationForm {
  padding: 20px;
  max-width: 100%;

  form {
    margin-bottom: 20px;

    p {
      margin-top: 10px;
    }

    button {
      width: 100%;
    }
  }
}

.btnBack {
  text-align: right;
  padding-right: 4%;
}
