.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.infoRegistration {
  text-align: center;

  img {
    width: 20%;
    height: auto;
  }

  h2 {
    margin-bottom: 10px;
    color: var(--title-color);
  }

  p {
    margin: 10px 0;
  }
}

.registrationForm {
  padding: 20px;
  margin-left: 36%; 
  max-width: 400px;
  width: 100%;

  form {
    margin-bottom: 20px;

    p {
      margin-top: 10px;
    }

    button {
      width: 100%;
    }
  }
}

.btnBack {
  text-align: right;
}


@media (max-width: 768px) {
  .registrationForm {
    margin-left: 0; 
  }
}
